@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--background-primary: #070b0f;
	--background-secondary: #02141d;
	--button-primary: #277ed0;
	--text-primary: #ffffff;
	--text-secondary: #d7dcde;
	--bubble-primary: #277ed0;
	--image-background: #1f2628;
}

.dark {
	--background-primary: #070b0f;
	--background-secondary: #02141d;
	--button-primary: #277ed0;
	--text-primary: #ffffff;
	--text-secondary: #d7dcde;
	--bubble-primary: #277ed0;
	--image-background: #1f2628;
}

@layer components {
}

